<!DOCTYPE html>
<html>

<head>
    <title>iCal denied</title>
</head>

<body>
    <div>
        Woooah there, that's way too many permissions. I only want rights to update status. Someone else is trying to use this app to gain access to your
        account and I can't give you this token because of that. Please contact me and let me know how you got here.
    </div>
    <a
        href="https://slack.com/oauth/v2/authorize?client_id=1636518952019.1629541805238&scope=&user_scope=users.profile:write">
        <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
            srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
    </a>
</body>

</html>